<main>
    <section class="hero">
        <div class="hero-left">
            <div class="image-container">
                <img src="./img/company.png" alt="FAIRFINANCE24 Office">
                <div class="location">
                    <p>Westbahnhof 5, 38118 Braunschweig</p>
                </div>
            </div>
        </div>
        <div class="hero-right">
            <h1>FAIRFINANCE24 GmbH</h1>
            <div id="services-container">
                <!-- Servicios se insertarán dinámicamente aquí -->
            </div>
        </div>
    </section>
</main>
